<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appzaorro.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.Login_activity" />
        <activity android:name=".view.login.Custom_Registration" />
        <activity android:name=".view.login.Driver_Registration_Form" />
        <activity android:name=".view.login.Forgot_Password" />
        <activity android:name=".view.HomePage_Activity">



        </activity>
        <activity android:name=".view.TestDialog" />
        <!--
            <activity
            android:name="com.paytm.pgsdk.PaytmPGActiviy"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBMDO1Gyv3OoFqhKSruSzX57AnFoC_Mbjs" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".view.Rigstration_Type" />
        <activity android:name=".view.login.Checked_email" />
        <activity android:name=".view.login.ResetPassword" />
        <activity android:name=".view.Driver_Request_Accepted" />
        <activity android:name=".view.Pending_Trips" />
        <activity android:name=".view.Payment_Activity_Method" />
        <activity android:name=".view.History_Demo" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".view.Update_Profile_Activity" />

        <service android:name=".view.login.Get_Device_Token">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".view.Search_Activity" />
        <activity android:name=".view.Choose_A_Driver" />
        <activity android:name=".view.FreeRide" />
        <activity android:name=".view.HelpActivity" />
        <activity android:name=".view.Notification" />
        <activity
            android:name="com.paytm.pgsdk.PaytmPGActivity"
            android:configChanges="keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait" />
        <activity android:name=".view.CardPayment"/>

        <activity
            android:label="Processing your payment"
            android:name="in.juspay.godel.PaymentActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity android:name=".view.AndroidPayActivity"></activity>
    </application>

</manifest>